/* Les couleurs de la charte sont le bleu #0065FC, et sa version plus claire #DEEBFF ainsi que le gris pour le fond #F2F2F2. */

* {
  margin: 0;
  padding: 0;
  border: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}
